body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

/* navbar properties */
.navbar {
  padding: 0;
  background-color: #082032;
}

.navbar-nav {
  margin: auto;
}

.nav-item {
  margin: 0;
  text-transform: uppercase;
  line-height: 3em;
  padding: 0 1em;
  font-weight: bold;
}

.navbar li:hover {
  background-color: #41547c;
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/* main divs propertries */
.odd {
  background-color: #3f4650;
  height: 100vh;
}

.even {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  height: 100vh;
}

#intro,
#aboutme,
#whatcanido,
#skills,
#projects,
#contactme {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 10% 10%;
}

#intro {
  padding: 300px 0;
}
#aboutme {
  padding-top: 200px;
}

#skills {
  height: auto;
}

#projects {
  height: auto;
}
#contactme {
  padding: 2% 5%;
  height: auto;
}
#contactme i {
  color: #948b8b;
  margin: 1rem;
  padding-bottom: 1rem;
}

#contactme i:hover {
  color: #ffffff;
}

/* Card properties */
.card {
  color: black;
  border-radius: 1em;
}
.card-text {
  text-align: left;
}
.card img {
  width: 80%;
  margin: auto;
  border-radius: 1em;
}

.card-body img {
  height: 4em;
  width: auto;
}

/* intro properties */

.intro-button {
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
}

.button-project {
  font-size: x-small;
}

/* about me properties */
.profile-img {
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
}
.about {
  width: 60%;
  margin: auto;
}

/* text properties */

span {
  font-weight: 900;
  color: #6284ce;
}

h1 {
  font-size: 3rem;
}

@media screen and (max-width: 450px) {
  #intro {
    height: auto;
  }
  #aboutme {
    height: auto;
    padding: 50% 0;
  }
  .col {
    padding: 0;
    margin: 0;
  }
  .card {
    padding: 0 2rem;
    margin: 0 3rem;
  }
}
